# IntelliJ IDEA
/.idea/
*.iml

# Eclipse IDE
/.settings/
/.classpath
/.project

# VS Code
/.vscode

# Other output folders
/target/
/bin/
/test-output/
/logs/
/reports/
/video/
/screenshots/

# Mac OSX
.DS_Store