<?xml version="1.0" encoding="UTF-8"?>

<!-- 
~ Copyright (c) 2019, Wasiq Bhamla.
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~ http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License. -->
	
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="5" parallel="tests">
	<listeners>
		<listener class-name="com.github.wasiqb.coteafs.listeners.ConfigListener" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.SuiteListener" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.TestListener" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.ExecutionListener" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.DataProviderListener" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.AnnotationTransformer" />
		<listener class-name="com.github.wasiqb.coteafs.listeners.SuiteResultReporter" />
	</listeners>
	<test name="Test Local" enabled="false">
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
					<include name="testCheckboxes" />
					<include name="testDropDownBox" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test Grid" enabled="false">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
			value="./src/test/resources/config/grid/selenium-grid-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test BrowserStack Chrome">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
			value="./src/test/resources/config/browserstack/selenium-chrome-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
					<include name="testCheckboxes" />
					<include name="testDropDownBox" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test BrowserStack Firefox">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
				   value="./src/test/resources/config/browserstack/selenium-firefox-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test BrowserStack Edge">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
				   value="./src/test/resources/config/browserstack/selenium-edge-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test BrowserStack IE">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
				   value="./src/test/resources/config/browserstack/selenium-ie-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Test BrowserStack Safari" enabled="false">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config"
				   value="./src/test/resources/config/browserstack/selenium-safari-config.yaml" />
		<classes>
			<class name="com.github.wasiqb.coteafs.selenium.SeleniumTest">
				<methods>
					<include name="testLogin" />
				</methods>
			</class>
		</classes>
	</test>
</suite>